<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>意见管理</title>
    <link rel="stylesheet" href="/res/admin/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-form" id="table-list">
    <br>
    <form class="layui-form">
      <div class="layui-form-item" style="margin-left: 20px">
          <div class="layui-inline">
              <label class="layui-form-label">内容</label>
              <div class="layui-input-inline">
                  <input type="text" name="contentLike" id="content-like" placeholder="请输入要搜索意见内容" autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-inline">
              <label class="layui-form-label">用户</label>
              <div class="layui-input-inline">
                  <input type="text" name="userNameLike" id="user-name-like" placeholder="请输入要搜索意见内容" autocomplete="off" class="layui-input">
              </div>
          </div>


            <button class="layui-btn layui-btn-normal" lay-submit="search" onclick="search()">搜索</button>
        </div>
    </form>
    <table class="layui-table" lay-even lay-skin="nob">
        <thead>
        <tr>
            <th class="hidden-xs">文章id</th>
            <th class="hidden-xs">用户名</th>
            <th>标题</th>
            <th>内容</th>
            <th class="hidden-xs">创建时间</th>
            <th>举报数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="essayDTO,essayDTOStat : ${essayDTOPageInfo.list}">
            <td class="hidden-xs">[[${essayDTO.essayId}]]</td>
            <td class="hidden-xs">[[${essayDTO.userName}]]</td>
            <td class="hidden-xs">[[${essayDTO.title}]]</td>
            <td class="hidden-xs">[[${essayDTO.content}]]</td>
            <td class="hidden-xs">[[${essayDTO.createDate}]]</td>
            <td class="hidden-xs">[[${essayDTO.reportNum}]]</td>
            <td>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-mini layui-btn-normal" th:onclick="|linkEssayDetail(${essayDTO.essayId})|">查看</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="page" id="Page1"></div>
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <script src="/res/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="/res/admin/js/common.js" type="text/javascript" charset="utf-8"></script>


    <script type="text/javascript" src="/js/MyPage.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script th:inline="javascript">
        var flag = false;
        var userTotal= [[${essayDTOPageInfo.total}]]+'';
        var userPageNum = [[${essayDTOPageInfo.pageNum}]]+'';
        $("#content-like").val([[${contentLike}]]);
        $("#user-name-like").val([[${userNameLike}]]);
        P.initMathod({
            params: {elemId: '#Page1',total:userTotal,pageSize:'10',pageIndex:userPageNum},
            requestFunction: function () {
                if (flag){
                    var contentLike = $("#content-like").val();
                    var userNameLike = $("#user-name-like").val();
                    window.location.href = "/admin/essay_list.html?pageNum="+P.config.pageIndex+"&contentLike="+contentLike+"&userNameLike="+userNameLike;

                }
                flag = true;
            }
        });

        function search() {
            var contentLike = $("#content-like").val();
            var userNameLike = $("#user-name-like").val();
            window.location.href = "/admin/essay_list.html?pageNum="+P.config.pageIndex+"&contentLike="+contentLike+"&userNameLike="+userNameLike;
        }

        function linkEssayDetail(essayId) {
            window.location.href = "/admin/essay_detail.html?essayId="+essayId;
        }


    </script>
</div>
</body>
</html>