<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/res/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="/res/css/main.css">
<!--加载meta IE兼容文件-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body>
  <div class="header">
    <div class="menu-btn">
      <div class="menu"></div>
    </div>
    <h1 class="logo">
      <a href="index.html">
        <span>MYBLOG</span>
        <img src="../res/img/logo.png">
      </a>
    </h1>
    <div class="nav">
      <a href="index.html">文章</a>
      <a href="whisper.html"  class="active">微语</a>
      <a href="leacots.html">留言</a>
      <a href="album.html">相册</a>
      <a href="about.html">关于</a>
    </div>
    <ul class="layui-nav header-down-nav">
      <li class="layui-nav-item"><a href="index.html">文章</a></li>
      <li class="layui-nav-item"><a href="whisper.html"  class="active">微语</a></li>
      <li class="layui-nav-item"><a href="leacots.html">留言</a></li>
      <li class="layui-nav-item"><a href="album.html">相册</a></li>
      <li class="layui-nav-item"><a href="about.html">关于</a></li>
    </ul>
    <p class="welcome-text">
      欢迎来到<span class="name">小明</span>的博客~
    </p>
  </div>


  <div class="content whisper-content">
    <div class="cont">
      <div class="whisper-list">


          <div class="item-box" th:each="essay,essayStat : ${essayDTOPageInfo.list}">
              <div class="item">
                  <div class="whisper-title">
                      <i class="layui-icon layui-icon-date"></i>[[${essay.createDate}]]
                  </div>
                  <p class="text-cont">
                      [[${essay.content}]]
                  </p>
                  <div class="img-box">

                      <img th:each="image,imageStat : ${essay.images}" th:src="${image}" th:width="300px" th:height="200px">

                  </div>
                  <div class="op-list">
                      <p class="like"><i class="layui-icon layui-icon-praise"></i><span th:id="'like'+${essayStat.index}">1200</span></p>
                      <p class="edit"><i class="layui-icon layui-icon-reply-fill"></i><span>1200</span></p>
                  </div>
              </div>
          </div>


      </div>
    </div>
  </div>


  <div class="page" id="Page1"></div>
  <link type="text/css" href="/css/style.css" rel="stylesheet" />
  <script type="text/javascript" src="/js/MyPage.js"></script>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script th:inline="javascript">
      var flag = false;
      var essayTotal= [[${essayDTOPageInfo.total}]]+'';
      var essayPageNum = [[${essayDTOPageInfo.pageNum}]]+'';
      var essayPageSize = [[${essayDTOPageInfo.pageSize}]]+'';
      debugger;
      P.initMathod({
          params: {elemId: '#Page1',total:essayTotal,pageSize:'10',pageIndex:essayPageNum},
          requestFunction: function () {

              console.log(JSON.stringify(P.config));
              if (flag){
                   window.location.href = "/public/home.html?pageNum="+P.config.pageIndex+"&visitUserName="+[[${visitUser.userName}]];

              }
              flag = true;
          }
      });
  </script>
</body>
</html>